.background-color {
  background-color: rgb(5, 56, 107);
  height: 100vh;
  width: 100vw;
}

.navbar-color {
  background-color: rgb(5, 56, 107);
}

.font-color {
  color: rgb(66, 66, 66);
}

.icon-color {
  color: rgb(101, 101, 101);
}

.navbar-height {
  height: 4rem;
}

.menu {
  border: none;
}

.container-child {
  height: 100%;
  width: 100%;
}

.white {
  color: white;
}

.brain-white {
  color: white;
  text-align: center;
  font-size: 10rem;
}

.quote {
  color: white;
  text-align: center;
  font-size: small;
}

.input-length {
  width: 13rem;
}

.homepage-font {
  color: rgb(5, 56, 107);
}

.status-scroll {
  white-space: nowrap;
  overflow-x: auto;
}

.time-width {
  width: 9rem;
}

.view-task {
  border: solid 1px rgb(180, 179, 179);
  border-radius: 0.25rem;
  height: 2.25rem;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.height-desc {
  height: 8rem;
}

.button-width {
  width: 25%;
}

.relative {
  position: relative;
}

.sidebar {
  background-color: rgb(5, 56, 107);
  z-index: 1;
  position: absolute;
  width: 175px;
  height: 100vh;
  top: 0;
  left: -175px;
  transform: scale(1);
  transition: all 0.5s ease;
}

.sidebar-nav-on {
  background-color: rgb(5, 56, 107);
  z-index: 1;
  position: absolute;
  width: 175px;
  height: 100vh;
  top: 70px;
  left: 20px;
  transition: all 0.5s ease;
  transform: scale(1.25);
}

.form-data-width {
  width: 100%;
}

.description-input-width {
  width: 100%;
}

.search-task-width {
  width: 75%;
}

.task-input-width {
  width: 360px;
}

.task-input-description-width {
  width: 360px;
}

.stage-width {
  width: 350px;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  .input-width {
    width: 50%;
  }

  .form-data-width {
    width: 285px;
  }

  .form-width {
    width: 600px;
  }

  .description-input-width {
    width: 100%;
  }

  .home-view-width {
    width: 75%;
  }

  .search-bar-width {
    width: 400px;
  }

  .search-task-width {
    width: 85%;
  }

  .task-input-width {
    width: 290px;
  }

  .task-input-description-width {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .input-width {
    width: 50%;
  }

  .form-data-width {
    width: 285px;
  }

  .description-input-width {
    width: 100%;
  }

  .form-width {
    width: 600px;
  }

  .home-view-width {
    width: 70%;
  }

  .search-width {
    width: 400px;
  }

  .search-task-width {
    width: 93%;
  }

  .task-input-description-width {
    width: 100%;
  }
}
