.background-color {
  background-color: rgb(5, 56, 107);
  height: 100vh;
  width: 100vw;
}

.navbar-color {
  background-color: rgb(5, 56, 107);
}

.font-color {
  color: rgb(66, 66, 66);
}

.icon-color {
  color: rgb(101, 101, 101);
}

.navbar-height {
  height: 4rem;
}

.menu {
  border: none;
}

.container-child {
  height: 100%;
  width: 100%;
}

.white {
  color: white;
}

.brain-white {
  color: white;
  text-align: center;
  font-size: 10rem;
}

.quote {
  color: white;
  text-align: center;
  font-size: small;
}

.input-length {
  width: 13rem;
}

.homepage-font {
  color: rgb(5, 56, 107);
}

.status-scroll {
  white-space: nowrap;
  overflow-x: auto;
}

.time-width {
  width: 9rem;
}

.view-task {
  border: solid 1px rgb(180, 179, 179);
  border-radius: 0.25rem;
  height: 2.25rem;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.height-desc {
  height: 8rem;
}

.button-width {
  width: 25%;
}

.sidebar-brain {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
